### Load the packages

In [72]:
import re
import pandas as pd

### Load the file

In [73]:
df = pd.read_csv("us-area-code-cities_cleaned.csv")
df.shape

(2713, 3)

In [74]:
df.head()

   area_code            city state_code
0        201         Bayonne         NJ
1        201     Bergenfield         NJ
2        201  Cliffside Park         NJ
3        201       Englewood         NJ
4        201       Fair Lawn         NJ

In [75]:
# Drop the city column
df2 = df.drop(['city'], axis=1)
print(df2)

      area_code state_code
0           201         NJ
1           201         NJ
2           201         NJ
3           201         NJ
4           201         NJ
5           201         NJ
6           201         NJ
7           201         NJ
8           201         NJ
9           201         NJ
10          201         NJ
11          201         NJ
12          201         NJ
13          201         NJ
14          201         NJ
15          201         NJ
16          202         DC
17          203         CT
18          203         CT
19          203         CT
20          203         CT
21          203         CT
22          203         CT
23          203         CT
24          203         CT
25          203         CT
26          203         CT
27          203         CT
28          203         CT
29          203         CT
...         ...        ...
2683        980         NC
2684        980         NC
2685        980         NC
2686        980         NC
2687        980         NC
2688        980         NC
2689        980         NC
2690        980         NC
2691        980         NC
2692        984         NC
2693        984         NC
2694        984         NC
2695        984         NC
2696        984         NC
2697        984         NC
2698        984         NC
2699        985         LA
2700        985         LA
2701        985         LA
2702        989         MI
2703        989         MI
2704        989         MI
2705        989         MI
2706        854         SC
2707        854         SC
2708        854         SC
2709        854         SC
2710        854         SC
2711        854         SC
2712        854         SC

[2713 rows x 2 columns]

In [78]:
#df2.set_index('area_code').to_dict()
#df2.to_dict('dict')
dict = df2.set_index('area_code')['state_code'].to_dict()

In [79]:
dict[703]

'VA'

In [83]:
dict[202]

'DC'

In [84]:
dict

{201: 'NJ',
 202: 'DC',
 203: 'CT',
 205: 'AL',
 206: 'WA',
 207: 'ME',
 208: 'ID',
 209: 'CA',
 210: 'TX',
 212: 'NY',
 213: 'CA',
 214: 'TX',
 215: 'PA',
 216: 'OH',
 217: 'IL',
 218: 'MN',
 219: 'IN',
 220: 'OH',
 224: 'IL',
 225: 'LA',
 228: 'MS',
 229: 'GA',
 231: 'MI',
 234: 'OH',
 239: 'FL',
 240: 'MD',
 248: 'MI',
 251: 'AL',
 252: 'NC',
 253: 'WA',
 254: 'TX',
 256: 'AL',
 260: 'IN',
 262: 'WI',
 267: 'PA',
 269: 'MI',
 270: 'KY',
 272: 'PA',
 276: 'VA',
 281: 'TX',
 301: 'MD',
 302: 'DE',
 303: 'CO',
 304: 'WV',
 305: 'FL',
 307: 'WY',
 308: 'NE',
 309: 'IL',
 310: 'CA',
 312: 'IL',
 313: 'MI',
 314: 'MO',
 315: 'NY',
 316: 'KS',
 317: 'IN',
 318: 'LA',
 319: 'IA',
 320: 'MN',
 321: 'FL',
 323: 'CA',
 325: 'TX',
 330: 'OH',
 331: 'IL',
 334: 'AL',
 336: 'NC',
 337: 'LA',
 339: 'MA',
 346: 'TX',
 347: 'NY',
 351: 'MA',
 352: 'FL',
 360: 'WA',
 361: 'TX',
 364: 'KY',
 385: 'UT',
 386: 'FL',
 401: 'RI',
 402: 'NE',
 404: 'GA',
 405: 'OK',
 406: 'MT',
 407: 'FL',
 408: 'CA',
 409: 'TX',
 410: 'MD',
 412: 'PA',
 413: 'MA',
 414: 'WI',
 415: 'CA',
 417: 'MO',
 419: 'OH',
 423: 'TN',
 424: 'CA',
 425: 'WA',
 432: 'TX',
 434: 'VA',
 435: 'UT',
 440: 'OH',
 442: 'CA',
 443: 'MD',
 458: 'OR',
 469: 'TX',
 478: 'GA',
 479: 'AR',
 480: 'AZ',
 484: 'PA',
 501: 'AR',
 502: 'KY',
 503: 'OR',
 504: 'LA',
 505: 'NM',
 507: 'MN',
 508: 'MA',
 509: 'WA',
 510: 'CA',
 512: 'TX',
 513: 'OH',
 515: 'IA',
 516: 'NY',
 517: 'MI',
 518: 'NY',
 520: 'AZ',
 530: 'CA',
 531: 'NE',
 539: 'OK',
 540: 'VA',
 541: 'OR',
 551: 'NJ',
 559: 'CA',
 561: 'FL',
 562: 'CA',
 563: 'IA',
 567: 'OH',
 570: 'PA',
 571: 'VA',
 573: 'MO',
 574: 'IN',
 575: 'NM',
 580: 'OK',
 585: 'NY',
 586: 'MI',
 601: 'MS',
 602: 'AZ',
 603: 'NH',
 605: 'SD',
 606: 'KY',
 607: 'NY',
 608: 'WI',
 609: 'NJ',
 610: 'PA',
 612: 'MN',
 614: 'OH',
 615: 'TN',
 616: 'MI',
 617: 'MA',
 618: 'IL',
 619: 'CA',
 620: 'KS',
 623: 'AZ',
 626: 'CA',
 628: 'CA',
 629: 'TN',
 630: 'IL',
 631: 'NY',
 636: 'MO',
 641: 'IA',
 646: 'NY',
 650: 'CA',
 651: 'MN',
 657: 'CA',
 660: 'MO',
 661: 'CA',
 662: 'MS',
 667: 'MD',
 669: 'CA',
 678: 'GA',
 681: 'WV',
 682: 'TX',
 701: 'ND',
 702: 'NV',
 703: 'VA',
 704: 'NC',
 706: 'GA',
 707: 'CA',
 708: 'IL',
 712: 'IA',
 713: 'TX',
 714: 'CA',
 715: 'WI',
 716: 'NY',
 717: 'PA',
 718: 'NY',
 719: 'CO',
 720: 'CO',
 724: 'PA',
 725: 'NV',
 727: 'FL',
 731: 'TN',
 732: 'NJ',
 734: 'MI',
 737: 'TX',
 740: 'OH',
 743: 'NC',
 747: 'CA',
 754: 'FL',
 757: 'VA',
 760: 'CA',
 762: 'GA',
 763: 'MN',
 765: 'IN',
 769: 'MS',
 770: 'GA',
 772: 'FL',
 773: 'IL',
 774: 'MA',
 775: 'NV',
 779: 'IL',
 781: 'MA',
 785: 'KS',
 786: 'FL',
 801: 'UT',
 802: 'VT',
 803: 'SC',
 804: 'VA',
 805: 'CA',
 806: 'TX',
 808: 'HI',
 810: 'MI',
 812: 'IN',
 813: 'FL',
 814: 'PA',
 815: 'IL',
 816: 'MO',
 817: 'TX',
 818: 'CA',
 828: 'NC',
 830: 'TX',
 831: 'CA',
 832: 'TX',
 843: 'SC',
 845: 'NY',
 847: 'IL',
 848: 'NJ',
 850: 'FL',
 856: 'NJ',
 857: 'MA',
 858: 'CA',
 859: 'KY',
 860: 'CT',
 862: 'NJ',
 863: 'FL',
 864: 'SC',
 865: 'TN',
 870: 'AR',
 878: 'PA',
 901: 'TN',
 903: 'TX',
 904: 'FL',
 907: 'AK',
 908: 'NJ',
 909: 'CA',
 910: 'NC',
 912: 'GA',
 913: 'KS',
 914: 'NY',
 915: 'TX',
 916: 'CA',
 917: 'NY',
 918: 'OK',
 919: 'NC',
 920: 'WI',
 925: 'CA',
 928: 'AZ',
 929: 'NY',
 930: 'IN',
 931: 'TN',
 936: 'TX',
 937: 'OH',
 940: 'TX',
 941: 'FL',
 947: 'MI',
 949: 'CA',
 951: 'CA',
 952: 'MN',
 954: 'FL',
 956: 'TX',
 959: 'CT',
 970: 'CO',
 971: 'OR',
 972: 'TX',
 973: 'NJ',
 978: 'MA',
 979: 'TX',
 980: 'NC',
 984: 'NC',
 985: 'LA',
 989: 'MI',
 854: 'SC'}

### Hardcode for convenient use

In [86]:
dist = {201: 'NJ', 202: 'DC', 203: 'CT', 205: 'AL', 206: 'WA', 207: 'ME', 208: 'ID', 209: 'CA', 
        210: 'TX', 212: 'NY', 213: 'CA', 214: 'TX', 215: 'PA', 216: 'OH', 217: 'IL', 218: 'MN', 219: 'IN',
        220: 'OH', 224: 'IL', 225: 'LA', 228: 'MS', 229: 'GA',
        231: 'MI', 234: 'OH', 239: 'FL', 240: 'MD', 248: 'MI',
        251: 'AL', 252: 'NC', 253: 'WA', 254: 'TX', 256: 'AL', 260: 'IN', 262: 'WI', 267: 'PA', 269: 'MI',
        270: 'KY', 272: 'PA', 276: 'VA', 281: 'TX',
        301: 'MD', 302: 'DE', 303: 'CO', 304: 'WV', 305: 'FL', 307: 'WY', 308: 'NE', 309: 'IL',
        310: 'CA', 312: 'IL', 313: 'MI', 314: 'MO', 315: 'NY', 316: 'KS', 317: 'IN', 318: 'LA', 319: 'IA',
        320: 'MN', 321: 'FL', 323: 'CA', 325: 'TX', 
        330: 'OH', 331: 'IL', 334: 'AL', 336: 'NC', 337: 'LA', 339: 'MA',
        346: 'TX', 347: 'NY',
        351: 'MA', 352: 'FL', 360: 'WA',
        361: 'TX', 364: 'KY',
        385: 'UT', 386: 'FL',
        401: 'RI', 402: 'NE', 404: 'GA', 405: 'OK', 406: 'MT', 407: 'FL', 408: 'CA', 409: 'TX',
        410: 'MD', 412: 'PA', 413: 'MA', 414: 'WI', 415: 'CA', 417: 'MO', 419: 'OH',
        423: 'TN', 424: 'CA', 425: 'WA',
        432: 'TX', 434: 'VA', 435: 'UT',
        440: 'OH', 442: 'CA', 443: 'MD',
        458: 'OR', 469: 'TX', 478: 'GA', 479: 'AR',
        480: 'AZ', 484: 'PA',
        501: 'AR', 502: 'KY', 503: 'OR', 504: 'LA', 505: 'NM', 507: 'MN', 508: 'MA', 509: 'WA',
        510: 'CA', 512: 'TX', 513: 'OH', 515: 'IA', 516: 'NY', 517: 'MI', 518: 'NY',
        520: 'AZ', 530: 'CA', 531: 'NE', 539: 'OK',
        540: 'VA', 541: 'OR', 551: 'NJ', 559: 'CA',
        561: 'FL', 562: 'CA', 563: 'IA', 567: 'OH',
        570: 'PA', 571: 'VA', 573: 'MO', 574: 'IN', 575: 'NM',
        580: 'OK', 585: 'NY', 586: 'MI',
        601: 'MS', 602: 'AZ', 603: 'NH', 605: 'SD', 606: 'KY', 607: 'NY', 608: 'WI', 609: 'NJ',
        610: 'PA', 612: 'MN', 614: 'OH', 615: 'TN', 616: 'MI', 617: 'MA', 618: 'IL', 619: 'CA',
        620: 'KS', 623: 'AZ', 626: 'CA', 628: 'CA', 629: 'TN',
        630: 'IL', 631: 'NY', 636: 'MO', 641: 'IA', 646: 'NY',
        650: 'CA', 651: 'MN', 657: 'CA', 660: 'MO', 661: 'CA', 662: 'MS', 667: 'MD', 669: 'CA',
        678: 'GA', 681: 'WV', 682: 'TX', 
        701: 'ND', 702: 'NV', 703: 'VA', 704: 'NC', 706: 'GA', 707: 'CA', 708: 'IL',
        712: 'IA', 713: 'TX', 714: 'CA', 715: 'WI', 716: 'NY', 717: 'PA', 718: 'NY', 719: 'CO',
        720: 'CO', 724: 'PA', 725: 'NV', 727: 'FL', 731: 'TN', 732: 'NJ', 734: 'MI', 737: 'TX',
        740: 'OH', 743: 'NC', 747: 'CA', 754: 'FL', 757: 'VA',
        760: 'CA', 762: 'GA', 763: 'MN', 765: 'IN', 769: 'MS',
        770: 'GA', 772: 'FL', 773: 'IL', 774: 'MA', 775: 'NV', 779: 'IL',
        781: 'MA', 785: 'KS', 786: 'FL', 
        801: 'UT', 802: 'VT', 803: 'SC', 804: 'VA', 805: 'CA', 806: 'TX', 808: 'HI',
        810: 'MI', 812: 'IN', 813: 'FL', 814: 'PA', 815: 'IL', 816: 'MO', 817: 'TX', 818: 'CA', 
        828: 'NC', 830: 'TX', 831: 'CA', 832: 'TX', 843: 'SC', 845: 'NY', 847: 'IL', 848: 'NJ', 
        850: 'FL', 856: 'NJ', 857: 'MA', 858: 'CA', 859: 'KY', 
        860: 'CT', 862: 'NJ', 863: 'FL', 864: 'SC', 865: 'TN', 870: 'AR', 878: 'PA', 
        901: 'TN', 903: 'TX', 904: 'FL', 907: 'AK', 908: 'NJ', 909: 'CA', 
        910: 'NC', 912: 'GA', 913: 'KS', 914: 'NY', 915: 'TX', 916: 'CA', 917: 'NY', 918: 'OK', 919: 'NC',
        920: 'WI', 925: 'CA', 928: 'AZ', 929: 'NY', 
        930: 'IN', 931: 'TN', 936: 'TX', 937: 'OH', 
        940: 'TX', 941: 'FL', 947: 'MI', 949: 'CA', 951: 'CA', 952: 'MN', 954: 'FL', 956: 'TX', 959: 'CT',
        970: 'CO', 971: 'OR', 972: 'TX', 973: 'NJ', 978: 'MA', 979: 'TX', 
        980: 'NC', 984: 'NC', 985: 'LA', 989: 'MI', 854: 'SC'}

area_code = list(set(dist.keys()))
state_code = list(set(dist.values()))
areacode_state = area_code + state_code

In [87]:
len(state_code)

51

In [88]:
len(area_code)

298

In [89]:
len(areacode_state)

349

In [90]:
dist[202]

'DC'

### Define the Regular Expression that covers all types of phone number

In [91]:
p = re.compile(r'(?:\+?(\d{1})?-?\(?(\d{3})\)?[\s\-\.]?)?(\d{3})[\s\-\.]*(\d{4})[\s\-\.]*(?:(?:ext\.|x)\s?(\d+))?')

#### Types of phone number

In [92]:
type1 = '(202) 957-8741'
type2 = '(202)555-7766'
type3 = '7034435775'
type4 = '703-885-9971'
type5 = '12029974555'
type6 = '301.775.8616'
type7 = ' 301-997-2114'
type8 = '703-666-3432  703-211-2444'
type9 = '2029778867 2029980112'
type10 = '3018864543 3019792244 7039982242'
type11 = '(202) 887 - 3114'
type12 = '(301)8079921'
type13 = '(202) 654-8005 x0000'
type14 = '703-112-9971 ext.83247'
type15 = '703-112-9971x27'
type16 = '275-6427'   #None

In [59]:
print(p.findall(type1))
print(p.match(type1).groups())
print(p.match(type1).group(2))

print(p.findall(type2))
print(p.match(type2).groups())
print(p.match(type2).group(2))

print(p.findall(type3))
print(p.match(type3).groups())
print(p.match(type3).group(2))

print(p.findall(type4))
print(p.match(type4).groups())
print(p.match(type4).group(2))

print(p.findall(type5))
print(p.match(type5).groups())
print(p.match(type5).group(2))

print(p.findall(type6))
print(p.match(type6).groups())
print(p.match(type6).group(2))

# print(p.findall(type7))
# print(p.match(type7).groups())
# print(p.match(type7).group(2))

print(p.findall(type8))
print(p.match(type8).groups())
print(p.match(type8).group(2))

print(p.findall(type9))
print(p.match(type9).groups())
print(p.match(type9).group(2))

print(p.findall(type10))
print(p.match(type10).groups())
print(p.match(type10).group(2))

print(p.findall(type11))
print(p.match(type11).groups())
print(p.match(type11).group(2))

print(p.findall(type12))
print(p.match(type12).groups())
print(p.match(type12).group(2))

print(p.findall(type13))
print(p.match(type13).groups())
print(p.match(type13).group(2))

print(p.findall(type14))
print(p.match(type14).groups())
print(p.match(type14).group(2))

print(p.findall(type15))
print(p.match(type15).groups())
print(p.match(type15).group(2))

print(p.findall(type16))
print(p.match(type16).groups())
print(p.match(type16).group(2))

[('', '202', '957', '8741', '')]
(None, '202', '957', '8741', None)
202
[('', '202', '555', '7766', '')]
(None, '202', '555', '7766', None)
202
[('', '703', '443', '5775', '')]
(None, '703', '443', '5775', None)
703
[('', '703', '885', '9971', '')]
(None, '703', '885', '9971', None)
703
[('1', '202', '997', '4555', '')]
('1', '202', '997', '4555', None)
202
[('', '301', '775', '8616', '')]
(None, '301', '775', '8616', None)
301
[('', '703', '666', '3432', ''), ('', '703', '211', '2444', '')]
(None, '703', '666', '3432', None)
703
[('', '202', '977', '8867', ''), ('', '202', '998', '0112', '')]
(None, '202', '977', '8867', None)
202
[('', '301', '886', '4543', ''), ('', '301', '979', '2244', ''), ('', '703', '998', '2242', '')]
(None, '301', '886', '4543', None)
301
[('', '202', '887', '3114', '')]
(None, '202', '887', '3114', None)
202
[('', '301', '807', '9921', '')]
(None, '301', '807', '9921', None)
301
[('', '202', '654', '8005', '0000')]
(None, '202', '654', '8005', '0000')
202
[('', '703', '112', '9971', '83247')]
(None, '703', '112', '9971', '83247')
703
[('', '703', '112', '9971', '27')]
(None, '703', '112', '9971', '27')
703
[('', '', '275', '6427', '')]
(None, None, '275', '6427', None)
None

In [93]:
type1 = '(202) 957-8741'
print(p.match(type1).group(2))

202

In [94]:
matchobj = p.search(type1)
if matchobj:
    aaa = (matchobj.group(2))

type(aaa)

str

In [108]:
matchobj = p.search(type1)
if matchobj:
    print(dist[int((matchobj.group(2)))])

DC

In [116]:
matchobj = p.search(type16)
try:
    if matchobj:
        print(dist[int((matchobj.group(2)))])
    
except:
    print("None")

None